<div class="user-form-container">
  <div class="title"><h2>User Form</h2></div>
  <form class="user-form" (ngSubmit)="submitForm()">
    <div class="fields" *ngFor="let user of usersForm.controls;">
      <ng-container [formGroup]="user">
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input id="firstname" matInput placeholder="First Name" name="first name" formControlName="firstName">
        </mat-form-field>
        <small *ngIf="user.get('firstName').errors?.required && user.get('firstName').touched" class="alert">First Name is required.</small>

        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input id="lastname" matInput placeholder="Last Name" name="last name" formControlName="lastName">
        </mat-form-field>
        <small *ngIf="user.get('lastName').errors?.required && user.get('lastName').touched" class="alert">Last Name is required.</small>

        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input id="email" matInput placeholder="Email" name="email" formControlName="email">
        </mat-form-field>
        <small *ngIf="user.get('email').errors?.required && user.get('email').touched" class="alert">Email is required.</small>
        <small *ngIf="user.get('email').errors?.pattern && user.get('email').touched" class="alert">Please provide a valid email address.</small>

        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input id="password" matInput placeholder="Password" name="password" type="password" formControlName="password">
        </mat-form-field>
        <small *ngIf="user.get('password').errors?.required && user.get('password').touched" class="alert">Password is required.</small>
        <small *ngIf="user.get('password').errors?.minlength && user.get('password').touched" class="alert">Password should have minimum 8 characters.</small>
        <small *ngIf="user.get('password').errors?.pattern && user.get('password').touched" class="alert">Password should contain a lowercase, uppercase and a numeric character.</small>
        <small *ngIf="user.get('password').errors?.pwdNameError && user.get('password').touched" class="alert">Password should not contain first or last name.</small>
      </ng-container>

      <div class="btn-container">
        <button class="btn" type="submit" [ngClass]="{'disabled': !userFormGroup.valid, '': userFormGroup.valid}">Submit</button>
      </div>
    </div>
  </form>
</div>
